.ecommerce_navBar__{
    background-color: #222935 !important;
    color: #fff !important;
    

}

.ecommerce__navBar_formSelect {
    background-color:  #eaecef1a !important;
    color: #fff !important;

    width:5rem !important ;
   
}
